window#waybar {
    font-family: "JetBrains Mono NerdFont";
    background-color: rgba(0,0,0,0.5);
    font-size: 0.9rem;
    color: white;
}

.modules-left, .modules-center {
    opacity: 1;
    padding: .4rem;
}

.modules-right {
    opacity: 1;
    padding: .4rem;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    font-size: 0.9rem;
    padding: 0 0.3rem 0 0;
    color: white;
}

#workspaces button.active {
    color: rgba(208, 135, 112, 1);
}

#window {
    padding: 2px 5px;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#disk,
#temperature,
#bluetooth {
    padding: 0 .3rem 0 0;
}

#clock {
    font-weight: bolder;
    padding: 0 .3rem 0 0;
}
