@define-color background-color #1a1b26;
@define-color border-color #7dcfff;
@define-color label #7dcfff;
@define-color image #7dcfff;
@define-color progress #7dcfff;

window {
    border-radius: 0;
    opacity: 0.97;
    border: 2px solid @border-color;

    background-color: @background-color;
}

label {
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 11pt;

    color: @label
}

image {
    color: @image;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @progress
}
